---
title: "Shop"
permalink: /shop/
layout: portfoliomain
subheading: Products for Zomes and Domes
---


<div class="uk-container uk-margin">
  <h4>Products</h4>
  <div class="portfolio-grid uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
    {% for product in site.products reversed %}
    <div>
    <div class="channel-card uk-box-shadow-medium">
      <a href="{{ product.url }}">
        {% if product.image %}
        <img src="{{ product.image }}" alt="{{ product.title }} logo">
        {% endif %}
      </a>
    </div>
    </div>
    {% endfor %}
  </div>


</div>
