<div class="uk-section uk-section-default uk-background-secondary" >
  <div class="uk-container">
    <div>
      <div class="uk-width-1-2@m uk-light">
        <div uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
          <span uk-icon="icon: uikit; ratio: 2"></span>
          <div class="uk-heading-small">Geodesic Structures</div>
          <h4 class="uk-margin-small-top">Sacred Geometry Designs</h4>
          <p>Bring natural geometry, harmony, and beauty into your next building project
          </p>
          <a class="uk-button uk-button-secondary uk-button-large" href="{{"/components/javascript" | relative_url }}">How it works</a>
        </div>
      </div>

    </div>
  </div>
</div>
