---
layout: default
---
<div class="uk-container-expand uk-margin-left uk-margin-right">

  <header>
    <h2>{{ page.title }}</h2>

  </header>

  <hr>
  <div class="uk-container">
  <article class="channel-case-study">
<div class="uk-flex" uk-grid>
  <div class="uk-width-1-2@m uk-flex-last@m">
    {% if page.image %}
    <div>
       <a href="{{ page.product_url }}"><img src="{{ page.image }}" alt="{{ page.title }} cover" class="product-image"></a>
    </div>
     {% endif %}

    </div>
  <div class="uk-width-1-2@m">

  <section class="channel-description">
    {{ content }}
    {% if page.product_url %}
    <div>
      Buy this book <a href="{{ page.product_url }}">{{ page.title }}</a>
    </div>
     {% endif %}
  </section>
  </div>



</article>
</div>
  </div>
